<h1 class="title">{{ video.view.video.title }}</h1>
<img src="{{ xthumb(video.view.video.thumb) }}" width="{{ video.view.block.params.player.size.width|default(460) }}" height="{{ video.view.block.params.player.size.height|default(380) }}">